button {
  font-family: Coda;
  font-size: 12px;
  
}
h1 {
  font-family: Coda;
  font-size:60px;
}
h2 {
  font-family: Coda;
  font-size:48px;
}
h3 {
  font-family: Coda;
  font-size:36px;
}
h4 {
  font-family: Coda;
  font-size:30px;
}
h5, h6, p {
  font-family: Coda;
}
#digits {
  font-family: vt323;
  font-size:24px;
  background-color: #000000;
  color: #80ff80;
}
