body {
  background-color: #000000;
  font-family: Coda;
  text-align: center;
}
html {
  width: 100%;
}
h1 {
  font-family: Gugi, Sans-serif;
  font-size: 60px;
}
h2 {
  font-family: Coda;
  font-size: 48px;
}
h3 {
  font-family: Coda;
  font-size: 36px;
  margin-bottom: 0px;
  margin-top:12px;
}
h4 {
  font-family: Coda;
  font-size: 30px;
  margin-bottom: 0px;
}
h5 {
  font-family: Coda;
  font-size: 24px;
  margin-bottom: 0px;
  margin-top: 8px;
}

h6, p {
  font-family: Coda;
}

input {
  background-color: #000000;
  border: 0px;
  color: #80ff80;
  font-family: vt323;
  font-size:44px;
  width: 100%;
  margin-top: 4px;
  text-align: right;
}

.radio {
  display: inline;
  margin: 2px;
}

.vertical {
  vertical-align: top;
}

select {
  background-color: black;
  border: 11px;
  border-color: grey;
  border-style: inset;
  color: white;

  font-family: Coda;
  font-size: 22px;
  margin: 0px auto;
  width: 128px;
  }

select:after {

  position: absolute;
  content: "";
  top: 14px;
  right: 10px;
  width: 200px;
  height: 0;
  border: 6px solid transparent;
  border-color: #fff transparent transparent transparent;
}

#converter {
  background-color: #c0c0c0;
  background-image: url("images/brushed-metal-texture-background.jpg");
  border: 6px;
  border-color: #404040;
  border-radius: 16px;
  border-style: solid;
  margin: 0px auto;
  width: 800px;
  height: 96%;
}

.digits {
  background-color: #000000;
  border: 5px;
  border-color:steelblue;
  border-style: ridge;
  color: #80ff80;
  font-family: vt323;
  font-size:44px;
  max-width: 65%;
  margin: 16px 0px 16px 0px;
  text-align: right;
}
